google-cloud-bigquery==2.22.1
google-cloud-bigquery-storage==2.1.0
google-cloud-error-reporting==1.0.0
google-cloud-logging==1.15.1
google-cloud-storage==1.37.1
google-cloud-secret-manager==2.0.0
pandas_gbq==0.19.1
pyarrow==2.0.0
pandas==1.5.3
numpy
Flask
gunicorn





